html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

.hero-image {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: url(../../library/img/parallax-rellax/mountain-parallax.jpg) no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}
.box{
    width: 400px;
    height: 80px;
    background: transparent;
    z-index: 1;
    left: 45%;
    mix-blend-mode: overlay;
    font-size: 30px;
    position: fixed;
}
.parallax-el {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../../library/img/parallax-rellax/upper.png) no-repeat 50% 50%;
    background-size: cover;
    top: 25%;
}

.text {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 32%;
    background: url(../../library/img/parallax-rellax/text.png) no-repeat 50% 50%;
    background-size: cover;
    mix-blend-mode: overlay;
}

.clouds {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../../library/img/parallax-rellax/clouds.png) no-repeat 50% 50%;
    background-size: cover;
}

.whitespace {
    width: 100%;
    height: 100vh;
}

.content {
    width: 80%;
    margin: 0 auto ;
    padding: 80px 20px;
    font-family: Helvetica;
    background: #fcfcfc;
}

h1 {
    font-size: 42px;
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
}

p {
    line-height: 40px;
    text-align: justify;
}
P:nth-of-type(1):first-letter{
    font-size: 80px;
    float: left;
    line-height: 1em;
    padding-right: 20px;
}
P:nth-of-type(2):first-line{
    color: #ff0165;
}
P:nth-of-type(3){
    background: linear-gradient(red, green);
    -webkit-background-clip: text;
    color: transparent;
}
