body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.snow{
    position: absolute;
    width: 100%;
    height: 100%;
}
#wrapper {
    /*padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex;
    margin: 10px auto;
    flex-direction: column;*/
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wrapper-item{
    margin: 0;
    display: flex;


}
.name{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    line-height: 100px;
    background: #35acdf;
    margin: 10px auto;
    font-size: 50px;
    font-weight: bold;
}
.name-lesson{
    font-size: 30px;
    margin: 0 0 0 100px;
    width: 300px;
    background: url("../img/php.png") no-repeat;
    background-size: contain;
}
#sidebar-wrapper {
    width: 500px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #0b0c86;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 150px auto;
}
#sidebar-wrapper-item{
    width: 400px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #def0ff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 150px 0;
}



/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    position: relative;
    line-height: 22px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #0b0c86;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}
.index{
    background-color: #def0ff;
    font-weight: bold;

}
.navbar-inverse {
    border: none;
}
.sidebar-nav li:nth-child(1):before {
    background: url("../img/css.png") #c09be2 no-repeat 90%;
    background-size: contain;

}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background: url("../img/php.png") #7d5d81 no-repeat 90%;
    background-size: contain;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
    color: #fffab1;
}
.sidebar-nav-item li a {
    color: #091930;
}
.sidebar-nav-item li:nth-child(n):before {
    background: none #629fdf;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.col-lg-offset-2{
    margin: 5%;
}
.col-lg-8 {
    width: 90%;
}
th, td{
    padding-left: 10px;
}
.canvas_block{
    border: 2px solid deepskyblue;
    max-width: 1440px;
    height: 700px;
    margin: 50px;
    background: url("../img/sea.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

}
.canvas_block:hover{
    filter: sepia(0);
}
#cl{
    filter: sepia(80%);
    transition: 1s;
}
#cl:hover{
    filter: sepia(0);
}
.up{
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 9;
}
.down{
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 9;
}
.canvas_block2{
    max-width: inherit;
    height: 500px;
    background: url("../img/sea.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
#cl_canvas_block2{
    position: absolute;
    top: 35%;
    left: 0;
}