.wrapper {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 10px auto;
}

.box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background-color: #c3c3c3;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #7ba9df;
    transition: .5s;
    z-index: 1;
}
.box:nth-child(2) .icon{
    background: #a55a84;
}
.box:nth-child(3) .icon{
    background: #6d9c57;
}

.box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.box .icon .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 1.5s;
    color: white;
}
.box:hover .icon .fas{
    font-size: 40px;
}
.box .content{
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
}
.box:hover .content{
    opacity: 1;
    top: 100px;
}
.box .content h3{
    margin: 0 0 10px;
    padding: 0;
    color: #100212;
}
.box .content p{
    margin: 0 ;
    padding: 0;
    color: darkblue;
}